@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 1%,
    rgba(39, 178, 11, 1) 100%,
    rgba(0, 172, 26, 1) 100%,
    rgba(41, 186, 10, 1) 100%,
    rgba(56, 255, 0, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 1.6rem;
  color: green;
  text-transform: uppercase;
}

.main-container {
  width: 99vw;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.9rem;
  transition: opacity 1s;
  place-content: center;
  padding: 1rem;

  /* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */
  /* background-color: #f2e7d5; */
  background-color: #292d33;

  opacity: 0;
}
.title-container {
  grid-area: 1/-1;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.title {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Montserrat", sans-serif;
  color: white;
}

.imageContainer {
  /* box-shadow: 0px 0px 5px 5px black; */
  box-shadow: 0px 0px 3px 5px #f7f7f7;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer img {
  width: 100%;
  object-fit: cover;
  height: calc(100% - 95px);
  cursor: pointer;
}

.authorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.author {
  color: white;
}

.author:hover {
  font-size: 1.65rem;
}

button {
  border: none;
  box-shadow: 0px 0px 2px 2px gray;

  width: fit-content;
  font-weight: bolder;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  box-shadow: 0px 0px 4px 5px black;
}
a {
  text-decoration: none;
  color: white;
}
.fa-spinner {
  color: green;
  font-size: 3rem;
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  user-select: none;
}

#caption {
  text-align: center;
  color: #ccc;
  padding: 1rem 0rem;
  font-size: 2rem;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  color: whitesmoke;
  font-size: 5rem;
  font-weight: bold;
  transition: all 0.3s;
  align-self: center;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgContainer img {
  pointer-events: none;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
