* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 1%,
    rgba(39, 178, 11, 1) 100%,
    rgba(0, 172, 26, 1) 100%,
    rgba(41, 186, 10, 1) 100%,
    rgba(56, 255, 0, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 1.6rem;
  color: green;
  text-transform: uppercase;
}

.main-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.7rem;
  transition: opacity 1s;
  place-content: center;
  opacity: 0;
}
.title-container {
  grid-area: 1/-1;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.imageContainer {
  box-shadow: 0px 0px 5px 5px black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer img {
  width: 100%;
  object-fit: cover;
  height: calc(100% - 95px);
  cursor: pointer;
}

.authorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
}
.author:hover {
  font-size: 1.65rem;
}

button {
  border: none;
  box-shadow: 0px 0px 2px 2px gray;

  width: fit-content;
  font-weight: bolder;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  box-shadow: 0px 0px 4px 5px black;
}
a {
  text-decoration: none;
  color: black;
}
.fa-spinner {
  color: green;
  font-size: 3rem;
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
